<h1 id="listeningport"><span class="header-section-number">1</span> ListeningPort</h1>
<p>How do I find the processes listening to a port?</p>
<p>Please load the complete documentation, listeningPort.html, into your browser for a full description.</p>
